# Reproducible local setup and build output
/.deps/
/.local/
**/.git/
**/.svn/
**/CVS/
**/.vs/
**/Debug*/
**/Release*/
**/project/**/*Debug*/
**/project/**/*Release*/
*.FileListAbsolute.txt
**/x64/
**/Win32/
**/ipch/
**/*.tlog/
*.user
*.suo
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.pch
*.bsc
*.sbr
*.aps
*.res
*.tlog
*.lastbuildstate
*.recipe
*.binlog
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.ncb
*.dll
*.exe
*.lib
*.msi
*.log
*.log.txt
*.tmp
*.key
*.pem
*.p12
*.pfx
.env
.env.*
!.env.example
